<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="../vendor/datatables/dataTables.bootstrap4.min.css" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <%- include('./modal-reset-password.ejs') %> <%-
    include('../includes/main-js.ejs') %>
  <!-- <% removeErrorMessages() %> -->
  <!-- Production -->
  <script src="../js/custom/misc.js"></script>
  <script>
    const getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split("&"),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split("=");

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined
            ? true
            : decodeURIComponent(sParameterName[1]);
        }
      }
    };
    $("#inph-personnelId").val(getUrlParameter("personnelID"));
    $("#modal-resetPassword-form").modal("show");
  </script>

  <!-- Development -->
  <!-- <script type="module" src="../js/custom/misc.js"></script>
  <script type="module">
    const getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split("&"),
        sParameterName,
        i;

      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split("=");

        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined
            ? true
            : decodeURIComponent(sParameterName[1]);
        }
      }
    };
    $("#inph-personnelId").val(getUrlParameter("personnelID"));
    $("#modal-resetPassword-form").modal("show");
  </script> -->

</body>

</html>