<div class="modal fade" id="modal-user-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Personnel List</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <input type="hidden" id="personnelList">
          <input type="hidden" id="personnelInputId">
          <table class="table table-bordered display" id="table-get-user" style="width: 100%" width="100%"
            cellspacing="0">
            <thead>
              <tr>
                <th></th>
                <th><strong>Personnel ID</strong></th>
                <th><strong>First Name</strong></th>
                <th><strong>Middle Name</strong></th>
                <th><strong>Last Name</strong></th>
                <th><strong>Position</strong></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn-sm btn-danger form-control" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>