<!DOCTYPE html>
<html lang="en">
<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="../vendor/datatables/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="../vendor/material-icon.css" />
<link rel="stylesheet" href="../vendor/font-awesome.min.css" />
<link rel="stylesheet" href="../vendor/datatables-full.min.css" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <%- include('../includes/main-js.ejs') %>

  <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="../vendor/jsPDF/jspdf.debug.min.js"></script>
  <script src="../vendor/jsPDF/jspdf.plugin.autotable.min.js"></script>

  <!-- Production -->
  <!-- <script src="../js/custom/misc.js"></script>
  <script src="../js/custom/jobs/job-order-email.js"></script> -->

  <!-- Development -->
  <script type="module" src="../js/custom/misc.js"></script>
  <script type="module" src="../js/custom/jobs/job-order-email.js"></script>
</body>

</html>