<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <title><%= pageTitle %></title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/vendor/font-googleapi.css" rel="stylesheet" type="text/css">
    <link href="/vendor/material-icon.css" rel="stylesheet" type="text/css">
    <link href="/vendor/datatables-full.min.css" rel="stylesheet" type="text/css">
    
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/vendor/mdbootstrap/css/mdb.min.css" rel="stylesheet" type="text/css">
    <link href="/css/custom/category.css" rel="stylesheet">
    <link href="/css/custom/validation.css" rel="stylesheet">
    <link href="/css/custom/topbar.css" rel="stylesheet">