<!-- Central Modal Medium Warning -->
<div class="modal fade" id="modal-confirmJobRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <form method="POST" action="/jobs/delete/job-requests">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Warning</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-question fa-4x mb-3 animated rotateIn"></i>
                        <p>This action is irreversible. Are you sure you want to continue?</p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <input type="hidden" name="requestId" id="inph-deleteJobRequest">
                    <button type="submit" class="btn-sm btn-danger form-control" hidden>Confirm Delete</button>
                    <button type="button" class="btn-sm btn-success confirmAction form-control" data-confirm-button="approve" id="btn-confirm-approve" hidden>Confirm Approve</button>
                    <button type="button" class="btn-sm btn-danger confirmAction form-control" data-confirm-button="cancel" id="btn-confirm-cancel" hidden>Confirm Cancel</button>
                    <button type="button" class="btn-sm btn-primary confirmAction form-control" data-confirm-button="submit" id="btn-confirm-submit" hidden>Confirm Submit</button>
                    <button type="button" class="btn-small btn-secondary form-control" data-dismiss="modal">Go Back</button>
                </div>
            </div>
            <!--/.Content-->
        </form>
    </div>
</div>
<!-- Central Modal Medium Warning-->